<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All employee information</title>
</head>
<body>
<div style="display: block">
  <h2>Employees list</h2>
  <div style="text-align: right">
    <label>Employee Id:
      <input type="number" min="1">
    </label>
    <button type="submit">search</button>
  </div>
  <br><br>
<table class="employees_table">
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>1</td>
    <td>John</td>
    <td>Doe</td>
    <td>johndoe@mail.com</td>
    <td>30 zl</td>
    <td>Sales</td>
    <td><button type="submit">check</button></td>
    <td><button type="submit">modify</button></td>
    <td><button onclick="confirmDelete()">delete</button></td>

  </tr>
  <tr>
    <td>2</td>
    <td>Jane</td>
    <td>Miss</td>
    <td>janemiss@mail.com</td>
    <td>32 zl</td>
    <td>Account</td>
    <td><button type="submit">check</button></td>
    <td><button type="submit">modify</button></td>
    <td><button type="button">delete</button>
  </tr>
</table>
  <br>
  <a href="#">back</a>
</div>
<script>
  function confirmDelete() {
    const result = confirm("Do you want to delete this employee?");
    if (result) {
      // ユーザーが「OK」を押した場合の処理
      alert("Deleted");
      // 実際の削除処理などをここに書く
    } else {
      // 「キャンセル」を押した場合は何もしない
      alert("Cancelled");
    }
  }
</script>
</body>
</html>