<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Department statistics</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="padding-top: 0">
<main layout:fragment="content">
<div style="display: block; margin: auto">
  <h2 id="title" th:text="${statistics.name}+' department working statistics ('+${statistics.year}+'-'+${statistics.month}+')'"></h2>
  <div style="text-align: right">
    <label>Department:<br>
      <select id="department">
       <option
                th:each="department:${departments}"
                th:text="${department}"
                th:value="${department}"></option>
      </select>
    </label>
    <label>Month:
      <input type="month" id="month">
    </label>
    <button onclick="search()"> search</button>
  </div>
  <div style="display: flex">
    <canvas id="deptChart" style="height: 350px;width: 350px; padding: 10px"></canvas>
    <script src="/js/chart-display.js"></script>
    <script th:inline="javascript">
    const departments=[[${departments}]];
    console.log(departments);
    const labels=['regular','over time','night shift', 'over time and night shift','break'];
    const data=[
      [[${statistics.regular}]],
      [[${statistics.overTime}]],
      [[${statistics.nightShift}]],
      [[${statistics.overNight}]],
      [[${statistics.breakTime}]],
    ]
    console.log(data);
    displayChart("deptChart",labels,data);
  </script>
    <script>
      function fillSelect(){
        const select=document.getElementById("department");
        select.innerHTML='';
        if(!Array.isArray(departments))
          console.log('not array');

        departments.forEach(dept=>{
          const option=document.createElement("option");
          console.log(`dept ${dept}`,dept);
          option.value=dept;
          option.textContent=dept;
          select.appendChild(option);
        });
      }

      function search(){
        const period=document.getElementById('month').value;
        console.log(period);
        const name= document.getElementById("department").value;
        console.log(name);

        const [year, month]=period.split('-');

        fetch(`/api/department/${name}/statistics/${year}/${month}`)
                .then(response=>{
                  if(!response.ok) throw new Error("Not data found in specified month");
                  return response.json()
                })
                .then(data=>{
                  console.log(data)
                  document.getElementById("title").textContent=name+' department working statistics ('+period+')';
                  document.getElementById("regular").textContent=data.regular+' hour';
                  document.getElementById("night").textContent=data.nightShift+' hour';
                  document.getElementById("overtime").textContent=data.overTime+' hour';
                  document.getElementById("overnight").textContent=data.overNight+' hour';
                  document.getElementById("breaktime").textContent=data.breakTime+' hour';

                  const chartData=[
                    data.regular,
                    data.overTime,
                    data.nightShift,
                    data.overNight,
                    data.breakTime
                  ]
                  console.log(chartData);
                  displayChart("deptChart",labels,chartData);
                });

        console.log(departments);
        fillSelect();
      }
    </script>


    <div class="statistic-data">
      <h3>Detail</h3>
      <div style="display: flex">
        <label>Regular:</label>
        <h4 th:text="${statistics.regular}+' hour'" id="regular"></h4>
      </div>
      <br>
      <div style="display: flex">
        <label>Night shift:</label>
        <h4 th:text="${statistics.nightShift}+' hour'" id="night"></h4>
      </div>
      <br>
      <div style="display: flex">
        Overtime:
        <h4 th:text="${statistics.overTime}+' hour'" id="overtime"></h4>
      </div>
      <br>
      <div style="display: flex">
        Overtime and night shift:
        <h4 th:text="${statistics.overNight}+' hour'" id="overnight"></h4>
      </div>
      <br>
      <div style="display: flex">
        Total break time:
        <h4 th:text="${statistics.breakTime}+' hour'" id="breaktime"></h4>
      </div>
    </div>
  </div>
  <a th:href="@{/admin/main}">back</a>
</div>
</main>
</body>
</html>