<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Employee main page</title>
</head>
<body>

<div>
    <div class="employee_current_status">
        <h3>Your current status: work</h3>
        <h3>Last time-stamp: 2025/5/19 9:01</h3>
        <button type="submit">leave</button>
        <button type="submit">break</button>
    </div>
    <br><br><br>
    <div class="employee_main_icons">
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/personal.png}" alt="personal" width="50" height="50">
            <br><br>
            <a href="#">Personal information</a>
        </div>
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/coin_icon.png}" alt="coin" width="50" height="50">
            <br><br>
            <a href="#">Monthly history</a>
        </div>
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/statistic_b.png}" alt="statistic" width="50" height="50">
            <br><br>
            <a href="#">Monthly statistics</a>
        </div>
    </div>
</div>
</body>
</html>