<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Employee statistic</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="padding-top: 0">
<div style="display: block; margin: auto">
    <h2> Your working statistic(2025-3)</h2>
    <div style="text-align: right">
        <label>Month:
            <input type="month" placeholder="1">
        </label>
        <button type="submit"> search</button>
    </div>
    <div style="display: flex">
        <canvas id="myChart" style="height: 350px;width: 350px; padding: 10px"></canvas>
        <script>
            const chartData = {
                labels: ['Regular', 'Night shift', 'Overtime'],
                datasets: [{
                    data: [50, 35, 25],
                    backgroundColor: ['#b22222', '#eb5136', '#ffce56'],
                    hoverOffset: 4
                }]
            };

            const config = {
                type: 'doughnut',
                data: chartData,
                options: {
                    responsive: false,
                    cutout: '45%',
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    const label = context.label || '';
                                    const value = context.parsed || 0;
                                    return `${label}: ${value} hour`;
                                }
                            }
                        }
                    }
                }
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
        <label style="margin-left: 15px;margin-right: 15px;margin-top: auto; margin-bottom: auto; padding: 20px">Total working hour:
            <h2>100 hour</h2>
        </label>
        <div class="statistic-data">
            <h3>Detail</h3>
            <div style="display: flex">
            <label>Regular:</label>
            <h4>50 hour</h4>
            </div>
            <br>
            <div style="display: flex">
                <label>Night shift:</label>
                <h4>35 hour</h4>
            </div>
            <br>
            <div style="display: flex">
                Overtime:
                <h4>25 hour</h4>
            </div>
        </div>
    </div>
    <a href="#">back</a>
</div>
</body>
</html>