<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>Employee main page</title>
</head>
<body>
<main layout:fragment="content">
<div>
    <div class="employee_current_status">
        <h2 th:text="'Hello, '+${employee.firstName}"></h2>
        <h3 th:text="'Your current status: '+${employee.currentStatus}"></h3>
        <h3 th:if="${employee.lastUpdate}" th:text="'Last time-stamp: '+${employee.lastUpdate}"></h3>
        <div th:switch="${employee.currentStatus}">
            <div th:case="'Work'">
                <form th:action="@{/employee/time-stamp}" method="post">
                    <input type="hidden" name="type" value="leave">
                <button type="submit">leave</button>
                </form>
                <form th:action="@{/employee/time-stamp}" method="post">
                    <input type="hidden" name="type" value="break">
                    <button type="submit">break</button>
                </form>
            </div>
            <div th:case="'Leave'">
                <form th:action="@{/employee/time-stamp}" method="post">
                    <input type="hidden" name="type" value="work">
                    <button type="submit">work</button>
                </form>
            </div>
            <div th:case="'Break'">
                <form th:action="@{/employee/time-stamp}" method="post">
                    <input type="hidden" name="type" value="back">
                    <button type="submit">back</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="employee_main_icons">
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/personal.png}" alt="personal" width="50" height="50">
            <br><br>
            <a th:href="@{/employee/personal-information}">Personal information</a>
        </div>
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/coin_icon.png}" alt="coin" width="50" height="50">
            <br><br>
            <a th:href="@{/employee/monthly-history}">Monthly history</a>
        </div>
        <div class="employee_main_icon">
            <img class="employee_main_menu" th:src="@{/image/statistic_b.png}" alt="statistic" width="50" height="50">
            <br><br>
            <a th:href="@{/employee/employee-statistics}">Monthly statistics</a>
        </div>
    </div>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>
</div>
</main>
</body>
</html>