<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>Edit employee information</title>
</head>
<body style="padding-top: 0">
<main layout:fragment="content">
<div style="display: block">
  <h3>Edit employee information</h3>
  <form th:action="@{/admin/modify-employee}" method="post" th:object="${employee}">
  <div class="register_employee">
    <input type="hidden" name="employeeId" th:value="*{employeeId}">
    <label>First name:<br>
      <input type="text" required name="firstName" th:value="*{firstName}">
    </label>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error">error</span>
    <br><br>
    <label>Last name:<br>
      <input type="text" required name="lastName" th:value="*{lastName}">
    </label>
    <p  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error">error</p>
    <br><br>
    <label>Email address:<br>
      <input type="email" required name="email" th:value="*{email}">
    </label>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">error</span>
    <br><br>
    <label>Salary:<br>
      <input type="number" required name="salary" th:value="*{salary}" min="10">
      zl
    </label>
    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="error">error</span>
    <br><br>
    <label>Department:<br>
      <select name="department" th:field="*{department}">
        <option
                th:each="department:${departments}"
                th:text="${department}"
                th:value="${department}"></option>
      </select>
    </label>
    <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" class="error">error</span>
    <br><br>
    <div style="text-align: center">
      <button type="submit">modify</button>
    </div>
  </div>
  </form>
  <a th:href="@{/admin/main}">back</a>
</div>
</main>
</body>
</html>