<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>Monthly history</title>
</head>
<body>
<main layout:fragment="content">
<div style="display: block">
  <h2 th:text="'Working statistics ('+${monthlyHistory.year}+'-'+${monthlyHistory.month}+')'" id="title"></h2>
<div class="history">
  <div style="text-align: right">
    <label>Month:
      <input type="month" id="month" required>
      <input type="hidden" id="id" th:value="${session.employeeId}">
    </label>
    <button onclick="search()">search</button>
  </div>
  <br>

  <table class="history-table">
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th>Salary</th>
    </tr>
    <tbody id="tableBody">
    <tr th:each="history:${monthlyHistory.histories}">
      <td th:text="${history.date}"></td>
      <td th:text="${history.startTime}"></td>
      <td th:text="${history.endTime}"></td>
      <td th:text="|${history.calculatedSalary} zl|"></td>
    </tr>
    </tbody>
  </table>
  <br><br>

  <script>
    function search(){
      const period=document.getElementById('month').value;
      console.log(period)
      const id=document.getElementById("id").value;
      console.log(id)
      const [year, month]=period.split('-');

      console.log(id);
      fetch(`/api/employee/${id}/history/${year}/${month}`)
              .then(response=>{
                if(!response.ok) throw new Error("Not found");
                return response.json()
              })
              .then(data=>{
                console.log(data)
                document.getElementById("title").textContent=name+'Working history ('+period+')';
                document.getElementById("total").textContent='Total salary of the month: '+data.totalSalary+'zl';

                const tableBody=document.getElementById("tableBody");
                tableBody.innerHTML="";

                data.histories.forEach(d => {
                  const row = document.createElement("tr");
                  row.innerHTML = `
                    <td>${d.date}</td>
                    <td>${d.startTime}</td>
                    <td>${d.endTime}</td>
                    <td>${d.calculatedSalary}</td>`
                  tableBody.appendChild(row);
                })

              })
              .catch(err=>alert(err.message));
    }
  </script>

  <h4 id="total" th:text="|Total salary of the month: ${monthlyHistory.totalSalary} zl|"></h4>
  <a th:href="@{/employee/main}">back</a>
</div>
</div>
</main>
</body>
</html>