<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Password change page</title>
</head>

<body style="padding-top: 0">
<main layout:fragment="content">
    <div style="display: block">
        <h3>Change your password</h3>
        <br>
        <form th:action="@{/employee/password-change}" method="post" th:object="${passwordForm}">
            <div class="password_change">
                <label>Current password:
                    <br><br>
                    <input type="password" name="currentPassword" required th:field="*{currentPassword}">
                </label>
                <br><br>
                <label>New password:
                    <br><br>
                    <input type="password" name="newPassword" required th:field="*{newPassword}">
                </label>
                <br><br>
                <label>Confirm password:
                    <br><br>
                    <input type="password" name="confirmPassword" required th:field="*{confirmPassword}">
                </label>
                <br><br>
                <div style="text-align: center">
                    <button type="submit">Change</button>
                </div>
            </div>
        </form>
        <br><br>
        <a th:href="@{/employee/main}">back to top</a>
    </div>
</main>
</body>
</html>